In [0]:
import pandas as pd

In [0]:
from vega_datasets import local_data

In [3]:
local_data.list_datasets()

['airports',
 'anscombe',
 'barley',
 'burtin',
 'cars',
 'crimea',
 'driving',
 'iowa-electricity',
 'iris',
 'la-riots',
 'seattle-temps',
 'seattle-weather',
 'sf-temps',
 'stocks']

In [0]:
df = local_data.cars()

In [5]:
df.sample(5)

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
375,19.6,4,112.0,88.0,28.0,chevrolet cavalier,USA,2605,1982-01-01
252,14.4,4,98.0,66.0,36.1,ford fiesta,USA,1800,1978-01-01
133,17.0,6,200.0,NaN,21.0,ford maverick,USA,2875,1974-01-01
178,13.5,4,134.0,96.0,24.0,toyota corona,Japan,2702,1975-01-01
346,16.4,4,151.0,84.0,26.6,buick skylark,USA,2635,1982-01-01

## Filtering the dataframe

### Only select cars made in USA?

In [6]:
df[df.Origin == 'USA']

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01
11,11.5,8,350.0,165.0,NaN,chevrolet chevelle concours (sw),USA,4142,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
13,10.5,8,383.0,175.0,NaN,plymouth satellite (sw),USA,4166,1970-01-01
14,11.0,8,360.0,175.0,NaN,amc rebel sst (sw),USA,3850,1970-01-01
15,10.0,8,383.0,170.0,15.0,dodge challenger se,USA,3563,1970-01-01
16,8.0,8,340.0,160.0,14.0,plymouth 'cuda 340,USA,3609,1970-01-01
17,8.0,8,302.0,140.0,NaN,ford mustang boss 302,USA,3353,1970-01-01
18,9.5,8,400.0,150.0,15.0,chevrolet monte carlo,USA,3761,1970-01-01
19,10.0,8,455.0,225.0,14.0,buick estate wagon (sw),USA,3086,1970-01-01
21,15.5,6,198.0,95.0,22.0,plymouth duster,USA,2833,1970-01-01
22,15.5,6,199.0,97.0,18.0,amc hornet,USA,2774,1970-01-01
23,16.0,6,200.0,85.0,21.0,ford maverick,USA,2587,1970-01-01
30,15.0,6,199.0,90.0,21.0,amc gremlin,USA,2648,1970-01-01
31,14.0,8,360.0,215.0,10.0,ford f250,USA,4615,1970-01-01
32,15.0,8,307.0,200.0,10.0,chevy c20,USA,4376,1970-01-01
33,13.5,8,318.0,210.0,11.0,dodge d200,USA,4382,1970-01-01
34,18.5,8,304.0,193.0,9.0,hi 1200d,USA,4732,1970-01-01
36,15.5,4,140.0,90.0,28.0,chevrolet vega 2300,USA,2264,1971-01-01
38,19.0,4,98.0,NaN,25.0,ford pinto,USA,2046,1971-01-01
40,13.0,6,232.0,100.0,19.0,amc gremlin,USA,2634,1971-01-01
...,...,...,...,...,...,...,...,...,...
348,12.6,6,173.0,110.0,23.5,chevrolet citation,USA,2725,1982-01-01
349,12.9,4,135.0,84.0,30.0,plymouth reliant,USA,2385,1982-01-01
351,16.4,4,86.0,64.0,39.0,plymouth champ,USA,1875,1982-01-01
357,14.9,4,105.0,63.0,34.7,plymouth horizon 4,USA,2215,1982-01-01
358,16.2,4,98.0,65.0,34.4,ford escort 4w,USA,2045,1982-01-01
359,20.7,4,98.0,65.0,29.9,ford escort 2h,USA,2380,1982-01-01
371,15.8,6,231.0,110.0,22.4,buick century,USA,3415,1982-01-01
372,19.0,8,350.0,105.0,26.6,oldsmobile cutlass ls,USA,3725,1982-01-01
373,17.1,6,200.0,88.0,20.2,ford granada gl,USA,3060,1982-01-01
374,16.6,6,225.0,85.0,17.6,chrysler lebaron salon,USA,3465,1982-01-01
375,19.6,4,112.0,88.0,28.0,chevrolet cavalier,USA,2605,1982-01-01
376,18.6,4,112.0,88.0,27.0,chevrolet cavalier wagon,USA,2640,1982-01-01
377,18.0,4,112.0,88.0,34.0,chevrolet cavalier 2-door,USA,2395,1982-01-01
378,16.2,4,112.0,85.0,31.0,pontiac j2000 se hatchback,USA,2575,1982-01-01
379,16.0,4,135.0,84.0,29.0,dodge aries se,USA,2525,1982-01-01
380,18.0,4,151.0,90.0,27.0,pontiac phoenix,USA,2735,1982-01-01
381,16.4,4,140.0,92.0,24.0,ford fairmont futura,USA,2865,1982-01-01
382,20.5,4,151.0,NaN,23.0,amc concord dl,USA,3035,1982-01-01
386,14.7,4,105.0,63.0,38.0,plymouth horizon miser,USA,2125,1982-01-01
387,17.3,4,98.0,70.0,36.0,mercury lynx l,USA,2125,1982-01-01
394,16.4,6,181.0,110.0,25.0,buick century limited,USA,2945,1982-01-01
395,17.0,6,262.0,85.0,38.0,oldsmobile cutlass ciera (diesel),USA,3015,1982-01-01
396,14.5,4,156.0,92.0,26.0,chrysler lebaron medallion,USA,2585,1982-01-01
397,14.7,6,232.0,112.0,22.0,ford granada l,USA,2835,1982-01-01
399,13.0,4,135.0,84.0,36.0,dodge charger 2.2,USA,2370,1982-01-01
400,17.3,4,151.0,90.0,27.0,chevrolet camaro,USA,2950,1982-01-01
401,15.6,4,140.0,86.0,27.0,ford mustang gl,USA,2790,1982-01-01
403,11.6,4,135.0,84.0,32.0,dodge rampage,USA,2295,1982-01-01
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982-01-01
405,19.4,4,119.0,82.0,31.0,chevy s-10,USA,2720,1982-01-01

#### How does this work?

In [7]:
df.Origin == 'USA'

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10     False
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20     False
21      True
22      True
23      True
24     False
25     False
26     False
27     False
28     False
29     False
       ...
376     True
377     True
378     True
379     True
380     True
381     True
382     True
383    False
384    False
385    False
386     True
387     True
388    False
389    False
390    False
391    False
392    False
393    False
394     True
395     True
396     True
397     True
398    False
399     True
400     True
401     True
402    False
403     True
404     True
405     True
Name: Origin, Length: 406, dtype: bool

In [0]:
s = df.Origin == 'USA'

In [9]:
df[s]

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01
11,11.5,8,350.0,165.0,NaN,chevrolet chevelle concours (sw),USA,4142,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
13,10.5,8,383.0,175.0,NaN,plymouth satellite (sw),USA,4166,1970-01-01
14,11.0,8,360.0,175.0,NaN,amc rebel sst (sw),USA,3850,1970-01-01
15,10.0,8,383.0,170.0,15.0,dodge challenger se,USA,3563,1970-01-01
16,8.0,8,340.0,160.0,14.0,plymouth 'cuda 340,USA,3609,1970-01-01
17,8.0,8,302.0,140.0,NaN,ford mustang boss 302,USA,3353,1970-01-01
18,9.5,8,400.0,150.0,15.0,chevrolet monte carlo,USA,3761,1970-01-01
19,10.0,8,455.0,225.0,14.0,buick estate wagon (sw),USA,3086,1970-01-01
21,15.5,6,198.0,95.0,22.0,plymouth duster,USA,2833,1970-01-01
22,15.5,6,199.0,97.0,18.0,amc hornet,USA,2774,1970-01-01
23,16.0,6,200.0,85.0,21.0,ford maverick,USA,2587,1970-01-01
30,15.0,6,199.0,90.0,21.0,amc gremlin,USA,2648,1970-01-01
31,14.0,8,360.0,215.0,10.0,ford f250,USA,4615,1970-01-01
32,15.0,8,307.0,200.0,10.0,chevy c20,USA,4376,1970-01-01
33,13.5,8,318.0,210.0,11.0,dodge d200,USA,4382,1970-01-01
34,18.5,8,304.0,193.0,9.0,hi 1200d,USA,4732,1970-01-01
36,15.5,4,140.0,90.0,28.0,chevrolet vega 2300,USA,2264,1971-01-01
38,19.0,4,98.0,NaN,25.0,ford pinto,USA,2046,1971-01-01
40,13.0,6,232.0,100.0,19.0,amc gremlin,USA,2634,1971-01-01
...,...,...,...,...,...,...,...,...,...
348,12.6,6,173.0,110.0,23.5,chevrolet citation,USA,2725,1982-01-01
349,12.9,4,135.0,84.0,30.0,plymouth reliant,USA,2385,1982-01-01
351,16.4,4,86.0,64.0,39.0,plymouth champ,USA,1875,1982-01-01
357,14.9,4,105.0,63.0,34.7,plymouth horizon 4,USA,2215,1982-01-01
358,16.2,4,98.0,65.0,34.4,ford escort 4w,USA,2045,1982-01-01
359,20.7,4,98.0,65.0,29.9,ford escort 2h,USA,2380,1982-01-01
371,15.8,6,231.0,110.0,22.4,buick century,USA,3415,1982-01-01
372,19.0,8,350.0,105.0,26.6,oldsmobile cutlass ls,USA,3725,1982-01-01
373,17.1,6,200.0,88.0,20.2,ford granada gl,USA,3060,1982-01-01
374,16.6,6,225.0,85.0,17.6,chrysler lebaron salon,USA,3465,1982-01-01
375,19.6,4,112.0,88.0,28.0,chevrolet cavalier,USA,2605,1982-01-01
376,18.6,4,112.0,88.0,27.0,chevrolet cavalier wagon,USA,2640,1982-01-01
377,18.0,4,112.0,88.0,34.0,chevrolet cavalier 2-door,USA,2395,1982-01-01
378,16.2,4,112.0,85.0,31.0,pontiac j2000 se hatchback,USA,2575,1982-01-01
379,16.0,4,135.0,84.0,29.0,dodge aries se,USA,2525,1982-01-01
380,18.0,4,151.0,90.0,27.0,pontiac phoenix,USA,2735,1982-01-01
381,16.4,4,140.0,92.0,24.0,ford fairmont futura,USA,2865,1982-01-01
382,20.5,4,151.0,NaN,23.0,amc concord dl,USA,3035,1982-01-01
386,14.7,4,105.0,63.0,38.0,plymouth horizon miser,USA,2125,1982-01-01
387,17.3,4,98.0,70.0,36.0,mercury lynx l,USA,2125,1982-01-01
394,16.4,6,181.0,110.0,25.0,buick century limited,USA,2945,1982-01-01
395,17.0,6,262.0,85.0,38.0,oldsmobile cutlass ciera (diesel),USA,3015,1982-01-01
396,14.5,4,156.0,92.0,26.0,chrysler lebaron medallion,USA,2585,1982-01-01
397,14.7,6,232.0,112.0,22.0,ford granada l,USA,2835,1982-01-01
399,13.0,4,135.0,84.0,36.0,dodge charger 2.2,USA,2370,1982-01-01
400,17.3,4,151.0,90.0,27.0,chevrolet camaro,USA,2950,1982-01-01
401,15.6,4,140.0,86.0,27.0,ford mustang gl,USA,2790,1982-01-01
403,11.6,4,135.0,84.0,32.0,dodge rampage,USA,2295,1982-01-01
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982-01-01
405,19.4,4,119.0,82.0,31.0,chevy s-10,USA,2720,1982-01-01

### Select cars with horsepower higher than 150

In [10]:
df[df.Horsepower > 150]

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01
11,11.5,8,350.0,165.0,NaN,chevrolet chevelle concours (sw),USA,4142,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
13,10.5,8,383.0,175.0,NaN,plymouth satellite (sw),USA,4166,1970-01-01
14,11.0,8,360.0,175.0,NaN,amc rebel sst (sw),USA,3850,1970-01-01
15,10.0,8,383.0,170.0,15.0,dodge challenger se,USA,3563,1970-01-01
16,8.0,8,340.0,160.0,14.0,plymouth 'cuda 340,USA,3609,1970-01-01
19,10.0,8,455.0,225.0,14.0,buick estate wagon (sw),USA,3086,1970-01-01
31,14.0,8,360.0,215.0,10.0,ford f250,USA,4615,1970-01-01
32,15.0,8,307.0,200.0,10.0,chevy c20,USA,4376,1970-01-01
33,13.5,8,318.0,210.0,11.0,dodge d200,USA,4382,1970-01-01
34,18.5,8,304.0,193.0,9.0,hi 1200d,USA,4732,1970-01-01
45,12.0,8,350.0,165.0,14.0,chevrolet impala,USA,4209,1971-01-01
46,11.5,8,400.0,175.0,14.0,pontiac catalina brougham,USA,4464,1971-01-01
47,13.5,8,351.0,153.0,14.0,ford galaxie 500,USA,4154,1971-01-01
49,11.5,8,383.0,180.0,12.0,dodge monaco (sw),USA,4955,1971-01-01
50,12.0,8,400.0,170.0,13.0,ford country squire (sw),USA,4746,1971-01-01
51,12.0,8,400.0,175.0,13.0,pontiac safari (sw),USA,5140,1971-01-01
69,12.0,8,350.0,165.0,13.0,chevrolet impala,USA,4274,1972-01-01
70,12.0,8,400.0,175.0,14.0,pontiac catalina,USA,4385,1972-01-01
72,13.0,8,351.0,153.0,14.0,ford galaxie 500,USA,4129,1972-01-01
74,11.0,8,429.0,208.0,11.0,mercury marquis,USA,4633,1972-01-01
75,13.5,8,350.0,155.0,13.0,buick lesabre custom,USA,4502,1972-01-01
76,13.5,8,350.0,160.0,12.0,oldsmobile delta 88 royale,USA,4456,1972-01-01
77,12.5,8,400.0,190.0,13.0,chrysler newport royal,USA,4422,1972-01-01
92,13.0,8,350.0,175.0,13.0,buick century 350,USA,4100,1973-01-01
97,11.5,8,429.0,198.0,12.0,mercury marquis brougham,USA,4952,1973-01-01
99,13.0,8,351.0,158.0,13.0,ford ltd,USA,4363,1973-01-01
101,11.0,8,440.0,215.0,13.0,chrysler new yorker brougham,USA,4735,1973-01-01
102,11.0,8,455.0,225.0,12.0,buick electra 225 custom,USA,4951,1973-01-01
103,11.0,8,360.0,175.0,13.0,amc ambassador brougham,USA,3821,1973-01-01
111,12.5,8,400.0,167.0,12.0,ford country,USA,4906,1973-01-01
112,13.0,8,360.0,170.0,13.0,plymouth custom suburb,USA,4654,1973-01-01
113,12.5,8,350.0,180.0,12.0,oldsmobile vista cruiser,USA,4499,1973-01-01
123,9.5,8,400.0,230.0,16.0,pontiac grand prix,USA,4278,1973-01-01
131,11.0,8,350.0,180.0,11.0,oldsmobile omega,USA,3664,1973-01-01
163,11.5,8,400.0,170.0,16.0,pontiac catalina,USA,4668,1975-01-01
197,12.8,8,351.0,152.0,14.5,ford gran torino,USA,4215,1976-01-01
219,12.1,8,350.0,180.0,16.5,cadillac seville,USA,4380,1976-01-01
236,11.1,8,400.0,180.0,16.0,pontiac grand prix lj,USA,4220,1977-01-01
237,11.4,8,350.0,170.0,15.5,chevrolet monte carlo landau,USA,4165,1977-01-01
238,12.2,8,400.0,190.0,15.5,chrysler cordoba,USA,4325,1977-01-01
270,13.4,6,231.0,165.0,17.7,buick regal sport coupe (turbo),USA,3445,1978-01-01
296,14.9,8,350.0,155.0,16.9,buick estate wagon (sw),USA,4360,1979-01-01

### Only Ford cars?

In [11]:
df[df.Name.contains('ford')]

AttributeError: ignored

In [12]:
df[df.Name.str.contains('ford')]

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
17,8.0,8,302.0,140.0,NaN,ford mustang boss 302,USA,3353,1970-01-01
23,16.0,6,200.0,85.0,21.0,ford maverick,USA,2587,1970-01-01
31,14.0,8,360.0,215.0,10.0,ford f250,USA,4615,1970-01-01
38,19.0,4,98.0,NaN,25.0,ford pinto,USA,2046,1971-01-01
43,15.5,6,250.0,88.0,19.0,ford torino 500,USA,3302,1971-01-01
47,13.5,8,351.0,153.0,14.0,ford galaxie 500,USA,4154,1971-01-01
50,12.0,8,400.0,170.0,13.0,ford country squire (sw),USA,4746,1971-01-01
55,14.5,6,250.0,88.0,18.0,ford mustang,USA,3139,1971-01-01
68,16.5,4,122.0,86.0,21.0,ford pinto runabout,USA,2226,1972-01-01
72,13.0,8,351.0,153.0,14.0,ford galaxie 500,USA,4129,1972-01-01
81,16.0,8,302.0,140.0,13.0,ford gran torino (sw),USA,4294,1972-01-01
87,16.0,4,122.0,86.0,22.0,ford pinto (sw),USA,2395,1972-01-01
95,14.5,8,302.0,137.0,14.0,ford gran torino,USA,4042,1973-01-01
99,13.0,8,351.0,158.0,13.0,ford ltd,USA,4363,1973-01-01
107,16.5,6,250.0,88.0,18.0,ford maverick,USA,3021,1973-01-01
111,12.5,8,400.0,167.0,12.0,ford country,USA,4906,1973-01-01
119,18.5,4,122.0,85.0,19.0,ford pinto,USA,2310,1973-01-01
133,17.0,6,200.0,NaN,21.0,ford maverick,USA,2875,1974-01-01
137,16.5,4,122.0,80.0,26.0,ford pinto,USA,2451,1974-01-01
143,14.0,8,302.0,140.0,16.0,ford gran torino,USA,4141,1974-01-01
146,16.0,8,302.0,140.0,14.0,ford gran torino (sw),USA,4638,1974-01-01
162,19.5,6,250.0,72.0,15.0,ford maverick,USA,3158,1975-01-01
166,13.5,8,351.0,148.0,14.0,ford ltd,USA,4657,1975-01-01
173,12.0,8,302.0,129.0,13.0,ford mustang ii,USA,3169,1975-01-01
175,17.0,4,140.0,83.0,23.0,ford pinto,USA,2639,1975-01-01
181,14.5,6,171.0,97.0,18.0,ford pinto,USA,2984,1975-01-01
197,12.8,8,351.0,152.0,14.5,ford gran torino,USA,4215,1976-01-01
200,17.6,6,200.0,81.0,24.0,ford maverick,USA,3012,1976-01-01
207,21.0,6,250.0,78.0,18.0,ford granada ghia,USA,3574,1976-01-01
213,13.6,4,140.0,72.0,26.5,ford pinto,USA,2565,1976-01-01
221,15.0,8,302.0,130.0,13.0,ford f108,USA,3870,1976-01-01
235,19.0,6,250.0,98.0,18.5,ford granada,USA,3525,1977-01-01
239,14.5,8,351.0,149.0,16.0,ford thunderbird,USA,4335,1977-01-01
243,15.8,4,140.0,89.0,25.5,ford mustang ii 2+2,USA,2755,1977-01-01
252,14.4,4,98.0,66.0,36.1,ford fiesta,USA,1800,1978-01-01
261,15.8,6,200.0,85.0,20.2,ford fairmont (auto),USA,2965,1978-01-01
262,15.4,4,140.0,88.0,25.1,ford fairmont (man),USA,2720,1978-01-01
271,11.2,8,302.0,139.0,18.1,ford futura,USA,3205,1978-01-01
289,17.3,4,140.0,88.0,22.3,ford fairmont 4,USA,2890,1979-01-01
293,13.4,8,302.0,129.0,17.6,ford ltd landau,USA,3725,1979-01-01
297,14.3,8,351.0,142.0,15.5,ford country squire (sw),USA,4054,1979-01-01
321,18.1,4,140.0,88.0,26.4,ford fairmont,USA,2870,1980-01-01
343,14.3,4,140.0,NaN,23.6,ford mustang cobra,USA,2905,1980-01-01
358,16.2,4,98.0,65.0,34.4,ford escort 4w,USA,2045,1982-01-01
359,20.7,4,98.0,65.0,29.9,ford escort 2h,USA,2380,1982-01-01
373,17.1,6,200.0,88.0,20.2,ford granada gl,USA,3060,1982-01-01
381,16.4,4,140.0,92.0,24.0,ford fairmont futura,USA,2865,1982-01-01
397,14.7,6,232.0,112.0,22.0,ford granada l,USA,2835,1982-01-01
401,15.6,4,140.0,86.0,27.0,ford mustang gl,USA,2790,1982-01-01
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982-01-01

In [13]:
type(df.Name)

pandas.core.series.Series

In [14]:
type(df.Name.str)

pandas.core.strings.StringMethods

### Combine more than 1 filters

In [15]:
df[df.Origin == 'USA' and df.Horsepower > 150]

ValueError: ignored

In [16]:
df[(df.Origin == 'USA') & (df.Horsepower > 150)]

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01
11,11.5,8,350.0,165.0,NaN,chevrolet chevelle concours (sw),USA,4142,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
13,10.5,8,383.0,175.0,NaN,plymouth satellite (sw),USA,4166,1970-01-01
14,11.0,8,360.0,175.0,NaN,amc rebel sst (sw),USA,3850,1970-01-01
15,10.0,8,383.0,170.0,15.0,dodge challenger se,USA,3563,1970-01-01
16,8.0,8,340.0,160.0,14.0,plymouth 'cuda 340,USA,3609,1970-01-01
19,10.0,8,455.0,225.0,14.0,buick estate wagon (sw),USA,3086,1970-01-01
31,14.0,8,360.0,215.0,10.0,ford f250,USA,4615,1970-01-01
32,15.0,8,307.0,200.0,10.0,chevy c20,USA,4376,1970-01-01
33,13.5,8,318.0,210.0,11.0,dodge d200,USA,4382,1970-01-01
34,18.5,8,304.0,193.0,9.0,hi 1200d,USA,4732,1970-01-01
45,12.0,8,350.0,165.0,14.0,chevrolet impala,USA,4209,1971-01-01
46,11.5,8,400.0,175.0,14.0,pontiac catalina brougham,USA,4464,1971-01-01
47,13.5,8,351.0,153.0,14.0,ford galaxie 500,USA,4154,1971-01-01
49,11.5,8,383.0,180.0,12.0,dodge monaco (sw),USA,4955,1971-01-01
50,12.0,8,400.0,170.0,13.0,ford country squire (sw),USA,4746,1971-01-01
51,12.0,8,400.0,175.0,13.0,pontiac safari (sw),USA,5140,1971-01-01
69,12.0,8,350.0,165.0,13.0,chevrolet impala,USA,4274,1972-01-01
70,12.0,8,400.0,175.0,14.0,pontiac catalina,USA,4385,1972-01-01
72,13.0,8,351.0,153.0,14.0,ford galaxie 500,USA,4129,1972-01-01
74,11.0,8,429.0,208.0,11.0,mercury marquis,USA,4633,1972-01-01
75,13.5,8,350.0,155.0,13.0,buick lesabre custom,USA,4502,1972-01-01
76,13.5,8,350.0,160.0,12.0,oldsmobile delta 88 royale,USA,4456,1972-01-01
77,12.5,8,400.0,190.0,13.0,chrysler newport royal,USA,4422,1972-01-01
92,13.0,8,350.0,175.0,13.0,buick century 350,USA,4100,1973-01-01
97,11.5,8,429.0,198.0,12.0,mercury marquis brougham,USA,4952,1973-01-01
99,13.0,8,351.0,158.0,13.0,ford ltd,USA,4363,1973-01-01
101,11.0,8,440.0,215.0,13.0,chrysler new yorker brougham,USA,4735,1973-01-01
102,11.0,8,455.0,225.0,12.0,buick electra 225 custom,USA,4951,1973-01-01
103,11.0,8,360.0,175.0,13.0,amc ambassador brougham,USA,3821,1973-01-01
111,12.5,8,400.0,167.0,12.0,ford country,USA,4906,1973-01-01
112,13.0,8,360.0,170.0,13.0,plymouth custom suburb,USA,4654,1973-01-01
113,12.5,8,350.0,180.0,12.0,oldsmobile vista cruiser,USA,4499,1973-01-01
123,9.5,8,400.0,230.0,16.0,pontiac grand prix,USA,4278,1973-01-01
131,11.0,8,350.0,180.0,11.0,oldsmobile omega,USA,3664,1973-01-01
163,11.5,8,400.0,170.0,16.0,pontiac catalina,USA,4668,1975-01-01
197,12.8,8,351.0,152.0,14.5,ford gran torino,USA,4215,1976-01-01
219,12.1,8,350.0,180.0,16.5,cadillac seville,USA,4380,1976-01-01
236,11.1,8,400.0,180.0,16.0,pontiac grand prix lj,USA,4220,1977-01-01
237,11.4,8,350.0,170.0,15.5,chevrolet monte carlo landau,USA,4165,1977-01-01
238,12.2,8,400.0,190.0,15.5,chrysler cordoba,USA,4325,1977-01-01
270,13.4,6,231.0,165.0,17.7,buick regal sport coupe (turbo),USA,3445,1978-01-01
296,14.9,8,350.0,155.0,16.9,buick estate wagon (sw),USA,4360,1979-01-01

## Operations on a dataframe

### Add a column of weights in kg?

1 lb â‰ˆ 0.454 kg

In [0]:
df['Weight_in_kg'] = df['Weight_in_lbs'] * 0.454

In [18]:
df.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year,Weight_in_kg
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01,1590.816
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01,1676.622
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01,1559.944
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01,1558.582
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01,1565.846

### More complicated operation
Add a column that says "fast car" if acceleration >= 12
and "slow car" if < 12

Use [pandas' apply](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) to apply a function to each row

In [0]:
def fast_slow(row):
    if row['Acceleration'] >= 12:
        return "fast car"
    else:
        return "slow car"

In [20]:
df.apply(fast_slow, axis=1)

0      fast car
1      slow car
2      slow car
3      fast car
4      slow car
5      slow car
6      slow car
7      slow car
8      slow car
9      slow car
10     fast car
11     slow car
12     slow car
13     slow car
14     slow car
15     slow car
16     slow car
17     slow car
18     slow car
19     slow car
20     fast car
21     fast car
22     fast car
23     fast car
24     fast car
25     fast car
26     fast car
27     fast car
28     fast car
29     fast car
         ...
376    fast car
377    fast car
378    fast car
379    fast car
380    fast car
381    fast car
382    fast car
383    fast car
384    fast car
385    fast car
386    fast car
387    fast car
388    fast car
389    fast car
390    fast car
391    fast car
392    fast car
393    fast car
394    fast car
395    fast car
396    fast car
397    fast car
398    fast car
399    fast car
400    fast car
401    fast car
402    fast car
403    slow car
404    fast car
405    fast car
Length: 406, dtype: object

>axis : {0 or â€˜indexâ€™, 1 or â€˜columnsâ€™}, default 0<br>
Axis along which the function is applied:<br>
0 or â€˜indexâ€™: apply function to each column.<br>
1 or â€˜columnsâ€™: apply function to each row.<br>

In [0]:
df['Fastness'] = df.apply(fast_slow, axis=1)

In [22]:
df.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year,Weight_in_kg,Fastness
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01,1590.816,fast car
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01,1676.622,slow car
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01,1559.944,slow car
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01,1558.582,fast car
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01,1565.846,slow car

Simplied one-liner using Python's `lambda`

In [0]:
df['Fastness'] = df.apply(lambda row:"fast car" if row['Acceleration'] >= 12 else "slow car", axis=1)

In [24]:
df.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year,Weight_in_kg,Fastness
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01,1590.816,fast car
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01,1676.622,slow car
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01,1559.944,slow car
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01,1558.582,fast car
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01,1565.846,slow car